@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    box-sizing: border-box;
  }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}


#wrapper {
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
  
#scroller {
	position: absolute;
	z-index: -1;
	width: 12000px;
	height: 4000px;
	overflow: hidden;
  background: url(images/background.jpg);
}
/*
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(62, 62, 62, 0.479);
}*/

.modal-acknowledgment {
    position: fixed;
    /*
    top: 50%;
    /*top will set the top edge 50% of container and
      translate then pushes the div halway back
    transform: translate(0, -50%); 
    left: 10%;
    width: 80%;*/
    background: rgba(32, 60, 185,0.8);
    padding: 1rem;
    border: 1px solid black;
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);*/
  }

.modal__text {
    text-align: center;
    font-size: 1.3rem;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font: inherit;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 16px;
  }

.modal__action:hover,
.modal__action:active {
  background: #cbd8ce;
  border-color: #cbd8ce;
}

.main-header {
    width: 100%;
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
    /* width: 100%; */
  }

  .toggle-button {
    width: 3rem;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }

  #info {
    position: absolute;
    left: 20px;
    
  }